/**
ヒューヒュー
*/

/* #Typography
================================================== */

  .theme-wrap h1, .theme-wrap h2, .theme-wrap h3, .theme-wrap h4, .theme-wrap h5, .theme-wrap h6 {font-family: 'Cabin', sans-serif;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; text-decoration: none; }
	.theme-wrap h1 { /* customize_h1 */ color:#444444; /* customize_h1 */font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	.theme-wrap h2 { /* customize_h2 */ color:#444444; /* customize_h2 */font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	.theme-wrap h3 { /* customize_h3 */ color:#444444; /* customize_h3 */font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	.theme-wrap h4 { /* customize_h4 */ color:#444444; /* customize_h4 */font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	.theme-wrap h5 { /* customize_h5 */ color:#444444; /* customize_h5 */font-size: 17px; line-height: 24px; }
	.theme-wrap h6 { /* customize_h6 */ color:#444444; /* customize_h6 */font-size: 14px; line-height: 21px; }
	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px;}

	em { font-style: italic; }
	strong { font-weight: bold; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 30px; line-height: 35px; font-style: italic; margin-bottom: 0; }
	blockquote { margin: 0 0 20px; padding: 10px 0 10px 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {}

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
	
	pre, code {
	font-family: monospace;
	}

